.card {
  display: block;
  border-radius: 1rem;
  padding: 1.5rem;
}

.card__title {
  font-size: clamp(1.4rem, calc(1.5vw + 0.1rem), 1.8rem);
  margin-block: clamp(1rem, calc(1.1vw + 0.1rem), 1.3rem);
}

.card__text {
  font-size: clamp(0.9rem, calc(1vw + 0.1rem), 1.2rem);
  margin-block: clamp(1rem, calc(1.1vw + 0.1rem), 1.3rem);
}

.card__img {
  margin-block: 1rem;
  margin-inline: auto;
}
